streamlit                                                  
seaborn                                                  
pandas                                                    
numpy                                                   
matplotlib                  
pydeck
plotly
openpyxl